{% extends "layout.html" %}

{% block content %}
<u><h3>Contact Information for {{ contact.name }}:</h3></u>

{% if contact %}
    <strong>Email address:</strong>
    <p>{{ contact.email }}</p>
    <strong>Phone:</strong>
    <p>{{ contact.phone }}</p>
{% else %}
    <p>No contact details found.</p>
{% endif %}

  <div class="contact-actions">
    <form class="edit-contact"
          action="{{ url_for('edit_contact', category_id=category.id, contact_id=contact.id)}}"
          method="post">
      <button type="submit">Edit contact</button>
    </form>
    <form class="delete-contact"
          action="{{ url_for('delete_contact', category_id=category.id, contact_id=contact.id) }}"
          method="post">
      <button type="submit">Delete contact</button>
    </form>
  </div>
{% endblock %}

{% block header_links %}
  <form action="{{ url_for('get_categories') }}" method="get" class="all-categories">
    <button type="submit">All categories</button>
  </form>
{% endblock %}

